body {
  background-color: #1c1c1c;
  color: white;
  font-family: Arial, sans-serif;
}

.message {
  text-shadow: 2px 2px 4px #000000;
  margin: 0;
}

.success {
  color: #15ff00;
}

.error {
  color: #ff6600;
}

#voter-id {
  background-color: #2d2d2d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}